<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
	<!-- autoReload="true" // Read and update configurations at runtime -->

	<!-- Define the targets where to log to -->
	<targets>
		<!-- Write logs to file with a dynamic filename based on current date -->
		<target xsi:type="File"
				name="file"
				fileName="C:\Logs\${shortdate}-${processname}.log" />
		<target xsi:type="Console"
				  name="console" />
	</targets>

	<!-- Define the rules for logging -->
	<rules>
		<!-- Exclude Microsoft logs -->
		<logger name="Microsoft.*" maxlevel="Off" final="true" />
		<logger name="System.*" maxlevel="Off" final="true" />

		<!-- Log all messages to file -->
		<logger name="*" minlevel="Trace" maxLevel="Fatal" writeTo="console" final="true" />
	</rules>
</nlog>